html,
body {
  height: 100%;
}

div#root {
  height: 100%;
}

div.app {
  height: 100%;
}

div.row.main {
  padding-top: 8rem;
}

div.dark {
  background-color: #333333;
  color: #ffffff;
}

button.btn.transparent,
button.btn.transparent:active,
button.btn.transparent:focus,
button.btn.transparent:target,
button.btn.transparent:active:focus {
  background-color: transparent;
  border-width: 0px;
  box-shadow: none !important;
}

button.btn.circular-xl {
  width: 70px;
  height: 70px;
  padding: 0px;
  border-radius: 35px;
  line-height: 1.33;
}

button.btn.circular {
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  line-height: 1;
}
